# company 1 (Tenant 1) Credentials
TEST_C1_ADMIN_EMAIL=admin@company1.com
TEST_C1_ADMIN_PASSWORD=your_password_here
TEST_C1_MANAGER_EMAIL=manager@company1.com
TEST_C1_MANAGER_PASSWORD=your_password_here

# company 2 (Tenant 2) Credentials 
TEST_C2_EMPLOYEE_EMAIL=employee@company2.com
TEST_C2_EMPLOYEE_PASSWORD=your_password_here

# API Authentication
TEST_API_TOKEN=your_api_token_here
